[Unit]
Description=Clerk Flask Web Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/clerk-service
Restart=on-failure
Environment=FLASK_ENV=production
Environment=CLERK_WEB_HOST=0.0.0.0
Environment=CLERK_WEB_PORT=6601

[Install]
WantedBy=default.target
