[Unit]
Description=Clerk Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/clerkd
Restart=on-failure
Environment=CLERKD_HOST=0.0.0.0
Environment=CLERKD_PORT=6601

[Install]
WantedBy=default.target
